
body{
    flex-grow: 1;
    padding-left: 44px;
    height: 100vh;
    display: flex;
    flex-direction:column;
    background-color: #231F1F;
}


header{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
main{

    height: 80%;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    margin-left: 110px;
}



.camera{
    position: absolute;
    transform: translateX(110%);
}


