*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    flex-grow: 1;
    padding-left: 44px;
    height: 100vh;
    display: flex;
    flex-direction:column;
    background-color: #231F1F;
}


header{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container{

    color: #FEFEFE;
    grid-column: 7/10;
    grid-row: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;


}
.circle{
    color: white;
    font-size: 1rem;
    position: absolute;
    padding-left: 1.2%;

}

.search{
    color: white;
    grid-column: 13/13;
    padding-right: 49px;
    display: flex;
    gap: 22px;

}

.text{
    color: #FEFEFE;
    position: absolute;
    padding-bottom: 1%;
    padding-left: 3%;
    color: #FEFEFE;
    padding-top: 1.2rem;
    
}

main{

    height: 80%;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    margin-left: 110px;
}

.subtitulo {
    grid-row: 4/4;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.7vh;
    vertical-align: top;
    width: 500px;
    color: #FEFEFE;
}

.titulo{
    grid-row: 5/5;
    width: 49.6vh;
    font-size: 10.5vh;
    font-family: 'Rowdies', cursive;
    font-weight: 400;
    color: #FEFEFE;
 
}

.descricao{
    grid-row: 6/6;
    width: 44.7vh;
    font-size: 1.7vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: white;
    line-height: 17.58px;
}

.rectangle{
    position: relative;
    grid-row: 10/10;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    
   
}

.compra {
    background-color: #F2AE00;
    height: 45px;
    width: 220px;
    font-size: 2vh;
    font-family: "Roboto";
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    
}

.seta {
    background-color: #FB9E02;
    height: 45px;
    width: 80px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-family: "Roboto";
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    
}


.camera{
    position: absolute;
    transform: translateX(110%);
}
.retangulo{
    z-index: -1;
    position: absolute;
    transform: translate(90%);
    top: 0%;
    height: 100%;

}
.retangulo_menor{
    z-index: -1;
    position: absolute;
    transform: translateX(130%);
    top: 0%;
    height: 100%;
}

.texto_transparente{
    z-index: -1;
    position: absolute;
    transform: translateX(25%);
    top: 25%;
    font-size: 16rem;
    line-height: 319px;
    font-weight: 400;
    font-family: 'Rowdies', cursive;
    color: #353333;
}

footer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: end;
    padding-right: 49px;
}

.exposition_camera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 101px;
    border-radius: 5%;
    background-color: #5D5C5C;
    border: 2px solid #F2AE00;
}
.exposition{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 101px;
    border-radius: 5%;
    background-color: #5D5C5C;
}

